#**
The value of 'payload' after the template has been evaluated
will be passed as the event to AWS Lambda.
*#
#if($context.identity.sub == $context.args.userId) 
{
  "version" : "2017-02-28",
  "operation": "Invoke",
  "payload": {
  	"userId" : "$context.args.userId",
    "resolverType" : "Query",
    "fieldName" : "getPaymentAccounts"
  }
}
#else 
  $utils.unauthorized() 
#end